## String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
string = input('Enter any string')           #Asks user to input a string
print('Reverse of string is', string[::-1])  # Print reverse of the string

2. Check if a string is a palindrome.

In [ ]:
pal_string = input("Enter any string")  #Asks user to input any string
pal_string = pal_string.upper()         #Convert string to upper or lower case to avoid discrepancy
string_rev = pal_string[::-1]           #find reverse of string
if string_rev == pal_string:            #Check whether reverse string is same as  entered string
    print("yes, it is palindrome")      #Print yes if palindrome string
else:
    print("No, it is not palindrome")   #Print no if not palindrome string

3. Convert a string to uppercase.

In [ ]:
string = input('Enter any string')           #Asks user to input a string
print('Uppercase of string is', string.upper())  # Print upper case of the string

4. Convert a string to lowercase.

In [ ]:
string = input('Enter any string')               #Asks user to input a string
print('Uppercase of string is', string.lower())  # Print lower case of the string

5. Count the number of vowels in a string.

In [ ]:
sent = input("Enter a sentence in which you have to count vowel")                             #Asks user to enter sentence
sent = sent.lower()                                                                           #Convert to lower case
num = sent.count('a') + sent.count('e') + sent.count('i') + sent.count('o') + sent.count('u') #Using count function, count each vowel and add
print("The number of vowels in given sentence is", num)                                       #Print the total number of vowels

6. Count the number of consonants in a string.

In [ ]:
sent = input("Enter a sentence in which you have to count consonant")                             #Asks user to enter sentence
sent = sent.lower()                                                                               #Convert to lower case
sent = sent.replace(" ","")                                                                       #Remove spaces from the string
num_Vow = sent.count('a') + sent.count('e') + sent.count('i') + sent.count('o') + sent.count('u') #Using count function, count each vowel and add
num_Cons = len(sent)-num_Vow                                                                      #Count consonants by substracting vowels from the string
print("The number of consonants in given sentence is", num_Cons)                                  #Print the total number of consonants
#doesn't works with strings containing special characters

7. Remove all whitespaces from a string.

In [ ]:
any_string = input("Enter any string")      #Ask user to enter any string
mod_string = any_string.replace(" ","")     #Replace spaces with no space
print("The modified string is", mod_string) #print modified string

8. Find the length of a string without using the `len()` function.

In [ ]:
any_string = input("Enter any string")      #Ask user to enter any string
c=0                                         #Initialize count variable
for x in any_string:                        #for loop to iterate throughout the string
    c=c+1                                   #increase count by 1 for each character
print('The length of string is',c)          #print the count

9. Check if a string contains a specific word.

In [ ]:
any_string = input("Enter any string")                #Ask user to enter any string
as_len = len(any_string)
word = input("Enter specific word you want to check") #Ask user to enter word
w_len = len(word)
c=0
t=0
while c<=as_len:
    ext=any_string[c:w_len]
    c=c+1
    w_len=w_len+1
    if ext==word:
        print('yes, it is in the string')
        t=t+1
        break
if t==0:
    print('no, it is not in the string')

10. Replace a word in a string with another word.

In [ ]:
user = input('Enter any string')
word = input('Enter the word you want to replace')
rep_word = input('Enter the word you want to replace with')
user = user.replace(word,rep_word)
print(user)

11. Count the occurrences of a word in a string.

In [ ]:
any_string = input("Enter any string")                #Ask user to enter any string
as_len = len(any_string)
word = input("Enter specific word you want to count") #Ask user to enter word
w_len = len(word)
c=0
t=0
while c<=as_len:
    ext=any_string[c:w_len]
    c=c+1
    w_len=w_len+1
    if ext==word:
        t=t+1

print('The word occurs {} times'.format(t))

12. Find the first occurrence of a word in a string.

In [ ]:
user = input('Enter any string')
word = input('Enter the word you want to find')
index = user.find(word)
print('The first occurence of {} is at index {}'.format(word,index))

13. Find the last occurrence of a word in a string.

In [ ]:
user = input('Enter any string')
word = input('Enter the word you want to find')
user_rev = user[::-1]
word_rev = word[::-1]
user_l = len(user)
word_l = len(word)
ind_rev = user_rev.find(word_rev)
index = user_l - ind_rev -word_l
print('The last occurence of {} is at index {}'.format(word,index))

14. Split a string into a list of words.

In [ ]:
user = input('Enter string you want to split')
split_l = user.split()
print(split_l)

15. Join a list of words into a string.

In [ ]:
l = ['my','name','is','Nimish']
s = l[0]+l[1]+l[2]+l[3]
print(s)

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
s = 'I love PWSKILLS'
s_mod = s.replace(' ','_')
s_mod

17. Check if a string starts with a specific word or phrase.

In [ ]:
any_string = input("Enter any string")                #Ask user to enter any string
as_len = len(any_string)
word = input("Enter specific word you want to check") #Ask user to enter word
w_len = len(word)
ext=any_string[0:w_len]
if ext==word:
    print('Yes')
else:
    print('No')

18. Check if a string ends with a specific word or phrase.

In [ ]:
any_string = input("Enter any string")                #Ask user to enter any string
any_string = any_string[::-1]
as_len = len(any_string)
word = input("Enter specific word you want to check") #Ask user to enter word
word = word[::-1]
w_len = len(word)

ext=any_string[0:w_len]
if ext==word:
    print('Yes')
else:
    print('No')

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
s = 'hello world'
s = s.title()
s

20. Find the longest word in a string.

In [ ]:
user = input('Enter string')   #enter sentence
user = user.split()            #split to words
l1=0                           #make variable to store length
for x in user:                 #navigate through list
    l = len(x)                 #find length of word
    if l>l1:                   #compare new word length with previous one
        y=x                    #assign that word to y
        l1=l                   #store length of previous word in l1
print(y)                       #print y

21. Find the shortest word in a string.

In [ ]:
user = input('Enter string')   #enter sentence
user = user.split()            #split to words
l1=0                           #make variable to store length
for x in user:                 #navigate through list
    l = len(x)                 #find length of word
    if l>l1:                   #compare new word length with previous one
        continue
    else:
        y=x
print(y)

22. Reverse the order of words in a string.

In [ ]:
user = input('Enter string')   #enter sentence
user = user.split()            #split to words
user = user[::-1]              #reverse the list
y=''                           #define empty string to store reverse order string
for x in user:
    y = y+x+' '                #concatenate words to form list
print(y)                       #print the reversed string

23. Check if a string is alphanumeric.

In [ ]:
user = input('Enter string')   #enter string
user.isalnum()

24. Extract all digits from a string.

In [ ]:
user = input('Enter string')   #enter string
for x in user:
    if x.isdigit() == True:
        print(x)

25. Extract all alphabets from a string.

In [ ]:
user = input('Enter string')   #enter string
for x in user:
    if x.isalpha() == True:
        print(x)

26. Count the number of uppercase letters in a string.

In [ ]:
user = input('Enter string')   #enter string
c=0
for x in user:
    if x.isupper() == True:
        c=c+1
print(c)

27. Count the number of lowercase letters in a string.

In [ ]:
user = input('Enter string')   #enter string
c=0
for x in user:
    if x.islower() == True:
        c=c+1
print(c)

28. Swap the case of each character in a string.

In [ ]:
user = input('Enter string')   #enter string
for x in user:
    if x.isupper() == True:
        user=user.replace(x,x.lower())
    else:
        user=user.replace(x,x.upper())
print(user)

29. Remove a specific word from a string.

In [37]:
s='The world is here'   #test string
r = 'is'                #word to be removed
s=s.split()
for x in s:
    if x==r:
        s.remove(x)
print(' '.join(s))

The world here

30. Check if a string is a valid email address.

In [ ]:
user = input('Enter a valid email address')
user = user.lower()
user=user.strip()
r=0
s=0
d=0
for x in user:
    if x=='@':
        r=r+1
    if x == ' ':
        s=s+1
    if x == '.':
        d=d+1
if r==1 and s==0 and 0<d<3:
    print('Email is valid')
else:
    print('Email is not valid')

31. Extract the username from an email address string.

In [ ]:
user = input('Enter valid email')
for x in user:
    if x =='@':
        i=user.index(x)
        ext = user[0:i]
        break
print(ext)

32. Extract the domain name from an email address string.

In [ ]:
user = input('Enter valid email')
for x in user:
    if x =='@':
        i=user.index(x)
        ext = user[i+1:len(user)]
        break
print(ext)

33. Replace multiple spaces in a string with a single space.

In [ ]:
user = input('Enter string')
user = user.split()
print(' '.join(user))

## 34.  Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

35. Extract the protocol (http or https) from a URL string.

In [ ]:
user = input('Enter valid URL')
user = user.split(':')
print(user[0])

## 36. Find the frequency of each character in a string.

In [39]:
user = list(input('enter the string'))
l=len(user)
c=0
t=0
for x in user:
    t=0
    while t<l:
        if x==user[t]:
            c=c+1
        t=t+1
    print('The character {} comes {} times'.format(x,c))
    c=0

enter the string helloo

The character h comes 1 times
The character e comes 1 times
The character l comes 2 times
The character l comes 2 times
The character o comes 2 times
The character o comes 2 times

## 37. Remove all punctuation from a string.

In [ ]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = "Hello, world! How's it going?"

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

38. Check if a string contains only digits.

In [ ]:
user = input('Enter any string')
if user.isnumeric() ==  True:
    print('Yes')
else:
    print('No')

39. Check if a string contains only alphabets.

In [ ]:
user = input('Enter any string')
if user.isalpha ==  True:
    print('Yes')
else:
    print('No')

40. Convert a string to a list of characters.

In [ ]:
user = input('Enter any string')
user_l = list(user)
print(user_l)

41. Check if two strings are anagrams.

In [ ]:
user1 = input('Enter 1st string')
user2 = input('Enter 2nd string')
l=len(user1)
c=0
n=0
for x in user1:
    if user2.find(x) == -1:
        break
    else:
        n=n+1
if n==l:
    print('yes')
else:
    print('no')

42. Encode a string using a Caesar cipher.

In [ ]:
user = input('Enter the string')
shift = int(input('Enter shift you want'))
enc = ''
for x in user:
    code = ord(x)           #ASCII code for character
    code = code + shift         #Shift by 3 places
    enc = enc+chr(code)     #encrypted string
print(enc)                  #print encrypted string

43. Decode a Caesar cipher encoded string.

In [40]:
user = input('Enter the encoded string')
shift = int(input('Enter shift'))
enc = ''
for x in user:
    code = ord(x)           #ASCII code for character
    code = code - shift         #Shift by 3 places
    enc = enc+chr(code)     #decoded string
print(enc)                  #print decoded string

Enter the encoded string jim
Enter shift 3

gfj

## 44. Find the most frequent word in a string.

In [45]:
user = list(input('Enter the string: '))
char_count = {}

for x in user:
    if x in char_count:
        char_count[x] += 1
    else:
        char_count[x] = 1

for char, count in char_count.items():
    print(f"The character '{char}' appears {count} times")

Enter the string:  hellloo

The character 'h' appears 1 times
The character 'e' appears 1 times
The character 'l' appears 3 times
The character 'o' appears 2 times

## 45. Find all unique words in a string.

In [46]:
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'there', 'hello', 'world', 'hows', 'the'}

## 46. Count the number of syllables in a string.

In [47]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

## 47. Check if a string contains any special characters.

In [48]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

48. Remove the nth word from a string.

In [5]:
user = input('Enter sentence')
user = user.split()
word = int(input('Enter word index you want to remove'))
user.pop(word)
print(" ".join(user))

Enter sentence i am a boy
Enter word index you want to remove 2

i am boy

49. Insert a word at the nth position in a string.

In [12]:
test = 'I do like PWSKILLS'
user = input('Enter word')
test = test.split()
word = int(input('Enter index'))
test.insert(word-1,user)
print(" ".join(test))

Enter word not
Enter index 3

I do not like PWSKILLS

## 50.  Convert a CSV string to a list of lists.

In [50]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

## List Based Practice Problem:

1. Create a list with integers from 1 to 10.

In [14]:
x = range(1,11)
l = list(x)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [16]:
x = range(1,11)
l = list(x)
c=0
for x in l:
    c=c+1
print(c)

10

3. Append an element to the end of a list.

In [30]:
x = range(1,11)
l = list(x)
l.append(88)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 88]

4. Insert an element at a specific index in a list.

In [3]:
x = range(1,11)
l = list(x)
user = int(input('Enter index where you want to insert'))
l.insert(user,25)
l

Enter index where you want to insert 2

[1, 2, 25, 3, 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [4]:
x = range(1,11)
l = list(x)
l.remove(4)
l

[1, 2, 3, 5, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [6]:
x = range(1,11)
l = list(x)
l.pop(9)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

7. Check if an element exists in a list.

In [19]:
x = input('Enter string')
ele = input('Enter element you want to check')
l = list(x)
c=0
for y in l:
    if y==ele:
        c=c+1
if c>1:
    print('yes')
else:
    print('no')

Enter string 10231321
Enter element you want to check 1

yes

8. Find the index of the first occurrence of an element in a list.

In [22]:
x = [1,2,3,4,5,4,4,4,3]  #test list
c = [3]                  #element to be checked
for y in x:
    if y==c[0]:
        j=x.index(y)     #store index in j
print(j)

2

9. Count the occurrences of an element in a list.

In [23]:
x = [1,2,3,4,5,4,4,4,3]  #test list
c = [4]                  #element to be checked
j=0
for y in x:
    if y==c[0]:
        j=j+1    #count in j variable
print(j)

4

10. Reverse the order of elements in a list.

In [29]:
x = [1,2,3,4,5,4,4,4,3]  #test list
x = x[::-1]
x

[3, 4, 4, 4, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [33]:
x = [1,2,3,4,5,4,4,4,3]  #test list
x.sort()
print(x)

[1, 2, 3, 3, 4, 4, 4, 4, 5]

12. Sort a list in descending order.

In [34]:
x = [1,2,3,4,5,4,4,4,3]  #test list
x.sort()
x=x[::-1]
print(x)

[5, 4, 4, 4, 4, 3, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [41]:
l=range(2,22,2)
x=list(l)
x

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [42]:
l=range(1,21,2)
x=list(l)
x

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [43]:
l=range(1,4)
x=list(l)
s=0
for y in x:
    s=s+y
print(s)

6

16. Find the maximum value in a list.

In [45]:
x = [1,2,3,4,5,4,4,4,3]  #test list
x.sort()                 #sort in ascending order
print(x[-1])             #print last element

5

17. Find the minimum value in a list.

In [48]:
x = [8,2,3,4,5,4,4,4,3]  #test list
x.sort()                 #sort in ascending order
print(x[0])             #print first element

2

18. Create a list of squares of numbers from 1 to 10.

In [49]:
l=range(1,11)
x=list(l)
l1=[]
for y in x:
    s=y*y
    l1.append(s)
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [51]:
import random
rand_list=[]
n=10
for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[4, 4, 9, 8, 8, 8, 3, 3, 8, 7]

20.  Remove duplicates from a list.

In [ ]:
x = [8,2,3,4,5,4,4,4,3]  #test list
x=set(x)
x=list(x)
x

Common elements: [30, 40, 50]

## 21. Find the common elements between two lists.

In [52]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find common elements using list comprehension
common_elements = [element for element in list1 if element in list2]

# Print the common elements
print("Common elements:", common_elements)

Common elements: [30, 40, 50]

## 22. Find the difference between two lists.

In [53]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

# Find the difference between lists using the difference() method
difference = list(set(list1).difference(list2))

# Print the difference
print("Difference between lists:", difference)

Difference between lists: [20, 10]

23. Merge two lists.

In [37]:
l1 = [1,2,40,50,3]
l2 = [1,2,3]
t = l1+l2
t

[1, 2, 40, 50, 3, 1, 2, 3]

24. Multiply all elements in a list by 2.

In [1]:
l1 = [1,2,40,50,3]
t=[]
for x in l1:
    t.append(x*2)
t

[2, 4, 80, 100, 6]

25. Filter out all even numbers from a list.

In [43]:
l1 = [1,2,40,50,3]
t=[]
for x in l1:
    if x%2 == 0:
        t.append(x)
print(t)

[2, 40, 50]

26. Convert a list of strings to a list of integers.

In [46]:
l1 = ['1','2','40','50','3']
t=[]
for x in l1:
    t.append(int(x))
print(t)

[1, 2, 40, 50, 3]

27. Convert a list of integers to a list of strings.

In [57]:
l1=[1, 2, 40, 50, 3]
i=''
t=[]
for x in l1:
    i = str(x)
    t.append(i)
print(t)

['1', '2', '40', '50', '3']

28. Flatten a nested list.

In [58]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]
f=[]
for x in my_list:
    for y in x:
        f.append(y)
print(f)

[1, 2, 3, 4, 5, 6, 7]

29. Create a list of the first 10 Fibonacci numbers.

In [63]:
c=1
s=0
l=[0,1]
while c<10:
    s=l[c-1]+l[c]
    l.append(s)
    c=c+1
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

30. Check if a list is sorted.

In [8]:
l=[1,3,4,2,1]
s=l
l1=l.sort()
if l1==s:
    print('yes')
else:
    print('no')

no

31. Rotate a list to the left by `n` positions.

In [1]:
l= [1,3,2,4,8]
y=l[-1]
for x in l:
    i = l.index(x)
    l[i-1]=l[i]
l[-2] = y
print(l)

[3, 2, 4, 8, 1]

In [14]:
d =[1,2,3,4,5]

32. Rotate a list to the right by `n` positions.

In [18]:
t= [1,5,2,3,6,7]
s1 = t[0:(len(t)-1)]   #slice string index 0 to 2nd last element
s1.insert(0,t[-1])     #insert last element to index 0
s1
#Right shifted list

[7, 1, 5, 2, 3, 6]

33. Create a list of prime numbers up to 50.

In [1]:
l_prime = list(range(1,50,2))
print(l_prime)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

## 34. Split a list into chunks of size `n`.

In [4]:
l=list(range(1,11))
n=int(input('Enter chunk size'))
t=[]
i=0
while i<len(l):
    t.append(l[i:n+i])
    i=i+n
print(t)

Enter chunk size 2

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

35. Find the second largest number in a list.

In [8]:
l=[1,2,3,4,89,0,9,3,10]
l.sort()
l[-2]

10

36. Replace every element in a list with its square.

In [12]:
l=list(range(1,4))
s=[]
for x in l:
    s.append(x*x)
print(s)

[1, 4, 9]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [16]:
l=list(range(1,4))
dict={}
for x in l:
    dict[x]=l.index(x)
dict

{1: 0, 2: 1, 3: 2}

## 38. Shuffle the elements of a list randomly.

In [20]:
import random

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [9, 8, 4, 6, 3, 7, 1, 5, 10, 2]

39. Create a list of the first 10 factorial numbers.

In [24]:
l=list(range(1,11))
i=1
c=1
f=[]
for x in l:
    while(i<=x):
        c=c*i
        i=i+1
    f.append(c)
print(f)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [31]:
l1=list(range(1,11))
l2=list(range(9,18))
c=0
for x in l1:
    for y in l2:
        if x==y:
            c=c+1
if c>0:
    print('Yes')
else:
    print('No')

Yes

41. Remove all elements from a list.

In [33]:
l1=list(range(1,11))
print(l1)
l1.clear()
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[]

42. Replace negative numbers in a list with 0.

In [36]:
l1=[2,3,-2,7,-9,-18]
for x in l1:
    if x<0:
        i=l1.index(x)
        l1[i]=0
print(l1)

[2, 3, 0, 7, 0, 0]

43. Convert a string into a list of words.

In [39]:
s = input('Enter a sentence')
l = s.split()
l

Enter a sentence i love you

['i', 'love', 'you']

44. Convert a list of words into a string.

In [41]:
l = ['i','love','pwskills']
s= str(l)
s

"['i', 'love', 'pwskills']"

45. Create a list of the first `n` powers of 2.

In [2]:
n=int(input('Enter value of n'))
i=1
l=[]
while i<n:
    l.append(2**i)
    i=i+1
print(l)

Enter value of n 4

[2, 4, 8]

## 46. Find the longest string in a list of strings.

In [22]:
l=['Nimish','Aakriti','Tomar','Riya']
long_str = ''
for x in l:
    if len(x) > len(long_str):
        long_str = x
print(long_str)

Aakriti

## 47. Find the shortest string in a list of strings.

In [24]:
l=['Nimish','Aakriti','Tomar','Riya']
short_str = l[0]
for x in l:
    if len(x) < len(short_str):
        short_str = x
print(short_str)

Riya

## 48. Create a list of the first `n` triangular numbers.

In [7]:
n = int(input('Enter n'))
l = list(range(1,n))
t=[]
s=0
for x in l:
    s=s+x
    t.append(s)
print(t)

Enter n 6

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [10]:
l=[1,2,3,[1,2,3,4]]
c=0
for x in l:
    if type(x) == list:
        c=c+1
if c>0:
    print('yes')
else:
    print('no')

yes

## 50. Swap two elements in a list by their indices.

In [11]:
g=[1,2,3,4,5]
t=g[2]
g[2]=g[4]    #swap 3rd and 5th element
g[4]=t
g

[1, 2, 5, 4, 3]

## Tuple Based Practice Problem :

1.Create a tuple with integers from 1 to 5.

In [2]:
t=tuple(range(1,6))
t
type(t)

tuple

2. Access the third element of a tuple.

In [3]:
t=tuple(range(1,6))
t[2]

3

3. Find the length of a tuple without using the `len()` function.

In [4]:
t=tuple(range(1,6))
c=0
for x in t:
    c=c+1
print(c)

5

4. Count the occurrences of an element in a tuple.

In [5]:
t=(1,2,4,1,1,0,5)  #test  tuple
n=1                #number to be checked
c=0
for x in t:
    if x==n:
        c=c+1
print(c)

3

5. Find the index of the first occurrence of an element in a tuple.

In [9]:
t=(4,5,7,1,2,9,3,5,4,5)
n=5                #number to be checked
c=t.index(5)
c

1

6. Check if an element exists in a tuple.

In [12]:
t=(4,5,7,1,2,9,3,5,4,5)
n=5                #number to be checked
for x in t:
    if x==n:
        print('yes')
        break

yes

7. Convert a tuple to a list.

In [13]:
t=(4,5,7,1,2,9,3,5,4,5)
l=list(t)
l

[4, 5, 7, 1, 2, 9, 3, 5, 4, 5]

8. Convert a list to a tuple.

In [14]:
l=[4, 5, 7, 1, 2, 9, 3, 5, 4, 5]
t=tuple(l)
t

(4, 5, 7, 1, 2, 9, 3, 5, 4, 5)

9. Unpack the elements of a tuple into variables.

In [ ]:
t=(4,5,7,1,2,9)
for x in t:
    a=x

10.Create a tuple of even numbers from 1 to 10.

In [15]:
t=tuple(range(2,12,2))
t

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [16]:
t=tuple(range(1,11,2))
t

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [17]:
t=tuple(range(1,5))
t1=tuple(range(6,10))
t+t1

(1, 2, 3, 4, 6, 7, 8, 9)

13. Repeat a tuple three times.

In [19]:
t=tuple(range(1,5))*3
t

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

14. Check if a tuple is empty.

In [25]:
t=()
if len(t) == 0:
    print('empty')

empty

15. Create a nested tuple.

In [26]:
t=(1,2,3,(2,5,6))
t

(1, 2, 3, (2, 5, 6))

16. Access the first element of a nested tuple.

In [27]:
t=(1,2,3,(2,5,6))
for x in t:
    if type(x) == tuple:
        a=x[0]
print(a)

2

17. Create a tuple with a single element.

In [39]:
t=(1,)
type(t)

tuple

18. Compare two tuples.

In [25]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [5]:
t=tuple(range(1,5))
del t
print('t deleted')

t deleted

20. Slice a tuple.

In [6]:
t=tuple(range(1,5))
t[1:3]

(2, 3)

21. Find the maximum value in a tuple.

In [8]:
t=tuple(range(1,5))
t=list(t)
t.sort()
t[-1]

4

22. Find the minimum value in a tuple.

In [10]:
t=(5,3,2,1,6,7,0)
t=list(t)
t.sort()
t[0]

0

23. Convert a string to a tuple of characters.

In [12]:
t='hellolove'
tu=tuple(t)
tu

('h', 'e', 'l', 'l', 'o', 'l', 'o', 'v', 'e')

24. Convert a tuple of characters to a string.

In [15]:
t = ('a','b','c','d')
s=''
for x in t:
    s=s+x
print(s)
type(s)

abcd

str

25. Create a tuple from multiple data types.

In [16]:
t=(1,2,3,'asdf',[1,2,3],{1,2,3,4})
t

(1, 2, 3, 'asdf', [1, 2, 3], {1, 2, 3, 4})

26. Check if two tuples are identical.

In [18]:
t=tuple(range(1,5))
t1=tuple(range(1,5))
if t==t1:
    print('identical')
else:
    print('not identical')

identical

27. Sort the elements of a tuple.

In [21]:
t=(2,34,1,4,56,3,245,8900)
t=list(t)
t.sort()
t=tuple(t)
t

(1, 2, 3, 4, 34, 56, 245, 8900)

28. Convert a tuple of integers to a tuple of strings.

In [36]:
t=(1,2,3)
t=list(t)
s=[]
for x in t:
    x=str(x)
    s.append(x)
s=tuple(s)
print(s)

('1', '2', '3')

29. Convert a tuple of strings to a tuple of integers.

In [37]:
t=('1','2','3')
t=list(t)
s=[]
for x in t:
    x=int(x)
    s.append(x)
s=tuple(s)
print(s)

(1, 2, 3)

30. Merge two tuples.

In [39]:
t=(1,2,3)
t1=(6,7,8)
s=t+t1
s

(1, 2, 3, 6, 7, 8)

## 31. Flatten a nested tuple.

In [42]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

((1, 2), (1, 2), (1, 2), (1, 2), 1, 2, 1, 2)

## 32. Create a tuple of the first 5 prime numbers.

In [1]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

 33. Check if a tuple is a palindrome.

In [67]:
t=('s','o','S')
s=''
for x in t:
    s=s+x
s=s.upper()
if s==s[::-1]:
    print('yes')
else:
    print('no')

yes

34. Create a tuple of squares of numbers from 1 to 5.

In [70]:
t=(1,2,3,4,5)
t= list(t)
s=[]
for x in t:
    s.append(x*x)
s=tuple(s)
print(s)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [73]:
t=(1,2,4,5)
l=list(t)
e=[]
for x in t:
    if x%2!=0:
        e.append(x)
e=tuple(e)
print(e)

(1, 5)

36. Multiply all elements in a tuple by 2.

In [74]:
t=(1,2,4,5)
t=list(t)
m=[]
for x in t:
    m.append(x*2)
m=tuple(m)
print(m)

(2, 4, 8, 10)

37. Create a tuple of random numbers.

In [5]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (32, 84, 92, 41, 68, 44, 27, 67, 99, 89)

38. Check if a tuple is sorted.

In [4]:
t=()
t=(1,2,8,4,5,6)
m=tuple(sorted(t))
if t==m:
    print('yes')
else:
    print('no')

no

39. Rotate a tuple to the left by `n` positions.

In [6]:
l= (1,3,2,4,8)
l=list(l)
y=l[-1]
for x in l:
    i = l.index(x)
    l[i-1]=l[i]
l[-2] = y
l=tuple(l)
print(l)

(3, 2, 4, 8, 1)

40. Rotate a tuple to the right by `n` positions.

In [9]:
t= (1,5,2,3,6,7)
t=list(t)
s=t[-1]
f = t[0:len(t)-1]
f.insert(0,s)
print(f)

[7, 1, 5, 2, 3, 6]

41. Create a tuple of the first 5 Fibonacci numbers.

In [1]:
c=1
s=0
l=[0,1]
while c<5:
    s=l[c-1]+l[c]
    l.append(s)
    c=c+1
l=tuple(l)
print(l)

(0, 1, 1, 2, 3, 5)

42. Create a tuple from user input.

In [4]:
i=tuple(input('Enter a tuple'))
i

Enter a tuple 12345

('1', '2', '3', '4', '5')

43. Swap two elements in a tuple.

In [8]:
t=(1,3,2,4,5)
t=list(t)
temp =t[1]         #swapping 2nd and 4th element
t[1]=t[3]
t[3]=temp
print(tuple(t))

(1, 4, 2, 3, 5)

44. Reverse the elements of a tuple.

In [10]:
t=(1,3,2,4,5)
t=t[::-1]
print(t)

(5, 4, 2, 3, 1)

45. Create a tuple of the first `n` powers of 2.

In [19]:
n=int(input('Enter n'))
i=0
l=[]
while i<=n:
    l.append(2**i)
    i=i+1
print(tuple(l))

Enter n 4

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [10]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

## 47. Find the shortest string in a tuple of strings.

In [11]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [48]:
n = int(input('Enter n'))
l = list(range(1,n))
t=[]
s=0
for x in l:
    s=s+x
    t.append(s)
print(tuple(t))

Enter n 5

(1, 3, 6, 10)

49. Check if a tuple contains another tuple as a subsequence.

In [51]:
l=(1,2,3,(1,2,3,4))
c=0
for x in l:
    if type(x) == tuple:
        c=c+1
if c>0:
    print('yes')
else:
    print('no')

yes

50. Create a tuple of alternating 1s and 0s of length `n`.

In [54]:
n=int(input('Enter n'))
t=[]
i=0
while i<n:
    if i%2==0:
        t.append(1)
    else:
        t.append(0)
    i=i+1
print(t)

Enter n 4

[1, 0, 1, 0]

## Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [2]:
s={1,2,3,4,5}
s

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [4]:
s={1,2,3,4,5}
g=list(s)
g.append(7)    #add element 7
g=set(g)
g

{1, 2, 3, 4, 5, 7}

3. Remove an element from a set.

In [6]:
s={1,2,3,4,5}
s=list(s)
s.remove(3)     #remove element 3
print(set(s))

{1, 2, 4, 5}

4. Check if an element exists in a set.

In [20]:
s={2,3,4,1,3}
s=list(s)
c=0
for x in s:
    if x==9:    #check if 9 is there
        c=c+1
if c>0:
    print('yes')
else:
    print('no')

no

5. Find the length of a set without using the `len()` function.

In [23]:
test = set(input('Enter the set'))
test = list(test)
c=0
for x in test:
    c=c+1
print(c)

Enter the set 1234

4

6. Clear all elements from a set.

In [24]:
s={1,2,3,4,5}
s.clear()
s

set()

7. Create a set of even numbers from 1 to 10.

In [25]:
s=set(range(2,11,2))
s

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [26]:
s=set(range(1,11,2))
s

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [28]:
s={1,2,3,4}
s1={3,4,5,6}
f=s.union(s1)
f

{1, 2, 3, 4, 5, 6}

10. Find the intersection of two sets.

In [31]:
s={1,2,3,4}
s1={3,4,5,6}
f=s.intersection(s1)
f

{3, 4}

11. Find the difference between two sets.

In [33]:
s={1,2,3,4}
s1={3,4,5,6}
f=s.difference(s1)
f

{1, 2}

12. Check if a set is a subset of another set.

In [4]:
s={1,2,3,4}
s1={3,4}
if s1.issubset(s)==True:
    print('True')
else:
    print('False')

True

13. Check if a set is a superset of another set.

In [6]:
s={1,2,3,4}
s1={3,4}
if s.issuperset(s1)==True:
    print('True')
else:
    print('False')

True

14. Create a set from a list.

In [7]:
l=[1,2,3,3,4]
s=set(l[0:2])
s

{1, 2}

15. Convert a set to a list.

In [8]:
s={1,2,3,4,5}
s=list(s)
s

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [10]:
s={1,2,3,4,5}
s.remove(4)    #remove element 4
s

{1, 2, 3, 5}

17. Pop an element from a set.

In [12]:
s={1,2,3,4,5}
p=s.pop()            #remove and return arbitrary element
p

{2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [14]:
s={1,2,3,4}
s1={3,4,5,6}
if len(s.intersection(s1)) == 0:
    print('no common element')
else:
    print('common element')

common element

19. Find the symmetric difference between two sets.

In [15]:
s={1,2,3,4}
s1={3,4,5,6}
f=s.symmetric_difference(s1)
f

{1, 2, 5, 6}

20. Update a set with elements from another set.

In [21]:
s={1,2,3,4}
s1={8,9,5,6}
s1.update(s)
print(s1)

{1, 2, 3, 4, 5, 6, 8, 9}

## 21. Create a set of the first 5 prime numbers.

In [12]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [23]:
s={1,2,3,4}
s1={1,2,3,4}
if s==s1:
    print('yes')
else:
    print('no')

yes

23. Create a frozen set.

In [27]:
s=frozenset([1,2,3,4,8])
print(s)

frozenset({1, 2, 3, 4, 8})

24. Check if a set is disjoint with another set.

In [29]:
s={1,2,3,4}
s1={1,9,5,6}
if s.isdisjoint(s1) == True:
    print('yes')
else:
    print('no')

no

25. Create a set of squares of numbers from 1 to 5.

In [31]:
s=list(range(1,6))
l=[]
for x in s:
    l.append(x*x)
print(set(l))

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [34]:
s={1,2,3,4}
s=list(s)
l=[]
for x in s:
    if x%2==0:
        l.append(s.pop(s.index(x)))
print(set(l))

{2, 4}

27. Multiply all elements in a set by 2.

In [36]:
s={1,2,3,4}
s=list(s)
l=[]
for x in s:
    l.append(2*x)
print(set(l))

{8, 2, 4, 6}

## 28. Create a set of random numbers.

In [13]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {6, 72, 73, 53, 63}

29. Check if a set is empty.

In [38]:
s={8,9}
if len(s)==0:
    print('Empty set')
else:
    print('Not empty set')

Not empty set

30. Create a nested set (hint: use frozenset).

In [3]:
n=set([frozenset({1,2,3,4}),5,6,7])
n

{5, 6, 7, frozenset({1, 2, 3, 4})}

31. Remove an element from a set using the discard method.

In [4]:
s={1,2,3,4,5}
s.discard(2)
s

{1, 3, 4, 5}

32. Compare two sets.

In [6]:
s={1,2,3,4}
s1={1,2,3,4}
if s==s1:
    print('same')
else:
    print('not same')

same

33. Create a set from a string.

In [10]:
s=input('Enter a string')
s=set(s)
print(s)

Enter a string Nimish

{'m', 'i', 's', 'h', 'N'}

34. Convert a set of strings to a set of integers.

In [13]:
s={'1','2','3','4'}
s=list(s)
l=[]
for x in s:
    l.append(int(x))
print(set(l))

{1, 2, 3, 4}

35. Convert a set of integers to a set of strings.

In [14]:
s={1,2,3,4}
s=list(s)
l=[]
for x in s:
    l.append(str(x))
print(set(l))

{'2', '1', '3', '4'}

36. Create a set from a tuple.

In [16]:
t=(1,2,3,4,5)
s=set(t[0:2])
print(s)

{1, 2}

37. Convert a set to a tuple.

In [17]:
s={1,2,3,4}
t=tuple(s)
t

(1, 2, 3, 4)

38. Find the maximum value in a set.

In [50]:
f={1,10,4,5,6,1,3}
l=list(f)
m=0
for x in l:
    i=0
    while i<len(l):
        if x>l[i]:
            m=x
        i=i+1
print('max is',m)

max is 10

39. Find the minimum value in a set.

In [52]:
f={10,2,3,4,2,3}
l=list(f)
m=0
for x in l:
    i=0
    while i<len(l):
        if x<l[i]:
            m=x
        i=i+1
print('min is',m)

min is 4

In [53]:
l

[2, 10, 3, 4]

40. Create a set from user input.

In [56]:
user =set(input('Enter a set'))
user

Enter a set 12345

{'1', '2', '3', '4', '5'}

41. Check if the intersection of two sets is empty.

In [58]:
s={1,2,3,4}
s1={90,9,5,6}
t=s.intersection(s1)
if len(t) == 0:
    print('yes')
else:
    print('no')

yes

## 42. Create a set of the first 5 Fibonacci numbers.

In [14]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [9]:
l=[1,2,3,4,2,2]
s=set(l)
s

{1, 2, 3, 4}

44. Check if two sets have the same elements, regardless of their count.

In [13]:
s={1,2,3,4}
s1={1,2,3,4,5,6}
if s.issubset(s1) == True:
    print('Have same elements')
else:
    print('Not same elements')

Have same elements

45. Create a set of the first `n` powers of 2.

In [22]:
n=int(input('Enter n'))
i=0
v=[]
while i<n:
    v.append(2**i)
    i=i+1
print(set(v))

Enter n 4

{8, 1, 2, 4}

46. Find the common elements between a set and a list.

In [23]:
s={1,2,3,4}
l=[2,3,4,5,6]
l=set(l)
t=s.intersection(l)
t

{2, 3, 4}

47. Create a set of the first `n` triangular numbers.

In [26]:
n=int(input('Enter first n numbers'))
i=0
s=0
t=[]
while i<n:
      s=s+i
      t.append(s)
      i=i+1
print(t)

Enter first n numbers 4

[0, 1, 3, 6]

48. Check if a set contains another set as a subset.

In [30]:
s={1,2,3,4,5}   #set
t={2,3,4}       #subset
if s.issuperset(t) == True:
    print('Yes')
else:
    print('No')

Yes

## 49. Create a set of alternating 1s and 0s of length `n`.

In [33]:
user= int(input('Enter n'))
i=0
f=[]
while i<n:
    if i%2==0:
        f.append(0)
    else:
        f.append(1)
    i=i+1
print(set(f))

Enter n 4

{0, 1}

50. Merge multiple sets into one.

In [34]:
s={1,2,3,4}
s1={3,4,5,6,7}
f=s.union(s1)
print(f)

{1, 2, 3, 4, 5, 6, 7}